.layout-pages {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

.component {
    height: 30px;
    width: 800px;
    border: 1px solid red;
    margin: 10px auto;
}

.layout-canvas {
    flex-grow: 1;
    /*background-color: #282c34;*/
}

.r-grid {
    border: 1px solid red;
}

.r-grid7 {
    border: 1px solid red;
}
